/* ====================================
// css variables
// ==================================== */

:root {
  --primair-site: #ac8968;
}

/* ====================================
// reset rules
// ====================faudra faire plusieurs css================ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  /*
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);*/
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

p {
  font-family: roboto;
}

.page-header {
  background: url(../img/accueil.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
  font-size: 20px;
  font-family: Catchye Demo;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.46);
}

@import "modules/_menu.css";

@media (min-width: 992px) {
  .topnav {
    display: none;
  }
}

@media (max-width: 992px) {
  .nav-big {
    display: none;
  }
}

.nav-big {
  font-family: roboto;
  color: #ac8968;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.46);
  margin-bottom: 25px;
}

.container-menu {
  display: flex;
  justify-content: space-around;
}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  margin-bottom: 30px;
  font-family: roboto;
  color: #ffe0c3;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media (m) @media (min-width: 768px) {
  h1 {
    font-size: 29px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 70px;
    padding-top: 70px;
  }
}

@media (max-width: 992px) {
  .logo-chat {
    width: 150px;
  }
}

h2 {
  font-family: Catchye Demo;
  color: #9b7451;
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 500px) {
  h2 {
    font-size: 60px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 70px;
    text-align: left;
  }
}

.animated-text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  background-image: radial-gradient(#9b7451, #ffe0c3 90%);
  background-repeat: no-repeat;
  background-size: 600% 600%;
  background-position: 50% 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1000px) {
  .carousel-menu {
    display: none;
  }
}

.carousel-menu {
  width: 100%;
  height: 166px;
}

.card-container {
  width: 100%;
  display: flex;
}

.card {
  min-width: 250px;
  height: 150px;
  scroll-snap-align: start;
}

.card-container {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 8px;
}

.card-container {
  width: calc(100% - 16px);
  margin: 8px;
  flex: 0 0 calc(100% - 16px);
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

@media (max-width: 1000px) {
  .petit-non {
    display: none;
  }
}

@media (max-width: 700px) {
  .photos-chats-large {
    display: none;
  }
}

.photos-chats-large {
  justify-content: center;
}

@media (min-width: 768px) {
  .carousel-chat {
    display: none;
  }
}

.rectangle-grande-infos {
  display: flex;
  justify-content: space-around;
  border-radius: 64px;
  background: #ac8968;
  padding: 50px 30px;
  margin: 15px;
}

.rectangle-grande-infos p {
  color: white;
}

.grand-rectangle-apropos {
  border-radius: 64px;
  background: rgba(191, 146, 104, 0.62);
  padding: 81px 47px;
}

@media (min-width: 768px) {
  .grand-rectangle-apropos {
    padding: 35px 47px;
  }
}

@media (min-width: 1200px) {
  .grand-rectangle-apropos {
    padding: 81px 47px;
  }
}

.grand-rectangle-apropos p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
}

.second-rectangle-apropos {
  border-radius: 64px;
  background: rgba(191, 146, 104, 0.62);
  padding: 81px 47px;
}

.second-rectangle-apropos p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
}

.troisieme-rectangle-apropos {
  border-radius: 64px;
  background: rgba(191, 146, 104, 0.62);
  padding: 81px 47px;
}

.troisieme-rectangle-apropos p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
}

.quatrieme-rectangle-apropos {
  border-radius: 64px;
  background: rgba(191, 146, 104, 0.62);
  padding: 54px 31px;
}

@media (min-width: 768px) {
  .quatrieme-rectangle-apropos {
    padding: 35px 47px;
  }
}

@media (min-width: 1200px) {
  .quatrieme-rectangle-apropos {
    padding: 81px 47px;
  }
}

.quatrieme-rectangle-apropos p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
}

@media (max-width: 1000px) {
  .petit-semainier {
    display: none;
  }
}

@media (max-width: 1000px) {
  .petit-semainier {
    display: none;
  }
}
@media (min-width: 768px) {
  .boutton-horaire {
    display: none;
  }
}

.page-footer {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffe0c3 50%,
    #9b7451 100%
  );
}

.container-reseaux {
  display: flex;
  flex-wrap: wrap;
  border-radius: 64px;
  background: white;
  color: #ac8968;
  padding: 20px;
  margin: 15px;
}

.container-reseaux img {
  margin: 10px;
}

.carousel {
  position: relative;
  margin-top: 26px;
}

.petit-semainier {
  display: flex;
  justify-content: space-around;
  border-radius: 64px;
  background: white;
  color: #ac8968;
  padding: 50px 30px;
  margin: 15px;
}

@media (max-width: 768px) {
  .petit-semainier {
    display: none;
  }
}

button {
  border-radius: 20px;
  color: #9b7451;
  padding: 15px 32px;
  font-family: roboto;
  position: relative;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #ac8968;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #9b7451;
}
